.select {
    margin-top: 40px;
    width: 400px;
    user-select: none;
    border: 1px solid rgb(23, 37, 63);
    border-radius: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

.select--button {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding-left: 20px;
}

.select--list {
    display: none;
}

.select--list--item {
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgb(23, 37, 63);
    padding-left: 20px;
}

.select--list--item:first-child {
    border-top: 1px solid rgb(23, 37, 63);
}

.select--list--item:last-child {
    border-bottom: none;
}

.select--list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.25);
}

.select--list a:hover {
    background-color: rgb(188, 207, 243);
    color: black;
}

